body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

nav {
    font-family: PoppinsSemiBold;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#navItem:hover,
#navItem:active {
    font-family: PoppinsBold;
    color: black; 
}

#card {
    margin-bottom: 10px;
}

#nama {
    font-family: PoppinsBold;
}

#nik {
    font-family: PoppinsMedium;
}

#ttl {
    font-family: PoppinsRegular;
}

  
.dashboard-title {
    font-size: 25px;
    font-family: PoppinsSemiBold;
    margin-top: 20px;
}

.container-dashboard {
    padding: 20px;
    box-shadow: black;
} 

thead {
    background-color: #9bdeac;
    color: white;
    text-align: center;    
}

tbody {
    text-align: center;
}

table {
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
 
.labelInput {
    font-family: PoppinsMedium;
}

/* add new font family */
@font-face {
    font-family: PoppinsBold;
    src: url("../fonts/Poppins_Bold.ttf");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("../fonts/Poppins_Medium.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("../fonts/Poppins_Regular.ttf");
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url("../fonts/Poppins_ExtraBold.ttf");
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("../fonts/Poppins_SemiBold.ttf");
}